.custom-list-category {
    .category-item {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #d9d9d9;

        &:hover, .active {
            border-bottom: 1px solid var(--e-global-color-accent);

            .category-info a {
                color: var(--e-global-color-accent);
            }
        }

        .category-thumbnail {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }

        .category-info {
            a {
                font-weight: 600;
                color: var(--e-global-color-primary);
            }
        }
    }
}

li.product.type-product {
    padding: 20px !important;
    text-align: center;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 0.3s ease-in-out;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;

    .add_to_cart_button, .product_type_variable {
        background-color: var(--e-global-color-accent);
        color: white;
        transition: all 0.3s ease;
        border-radius: 0;
        &:hover {
            background-color: var(--e-global-color-primary);
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: rgba(78, 78, 78, 0.45) 0px 25px 20px -20px;
    }
}